<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
        xmlns:aop="http://www.springframework.org/schema/aop"
         xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx.xsd">
           
         <context:annotation-config/>
         <context:component-scan base-package="com.ssm"/>
         
      <context:property-placeholder location="classpath:mysql.properties"/>
      <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${db.driver}"/>
        <property name="jdbcUrl" value="${db.url}"/>
        <property name="user" value="${db.user}"/>
        <property name="password" value="${db.password}"/>
      </bean>
      
      <!-- 配置SqlSessionFactory   类似于hibernate中的SessionFactory-->
     <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>  <!-- 依赖的数据源 -->
        <property name="typeAliasesPackage" value="com.ssm.Entity"/>   <!-- 依赖的mybatis类型别名包 -->
     </bean>
     
     <!-- 配置mybatis事务管理器   基于数据源的事务管理器[1.基于数据源的事务管理器  2.hibernate本地事务管理器] -->
     <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
     </bean>
     
     <!-- 配置基于元数据注解的事务代理 -->
     <tx:annotation-driven transaction-manager="txManager"/>
      
      <!--  配置Mapper代理接口的包扫描  方式2:扫描包-->
      <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
          <property name="basePackage" value="com.ssm.Dao"/>
      </bean>

</beans>